VITE_SUPABASE_URL=https://klprbojgvpdnjvxvmylh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtscHJib2pndnBkbmp2eHZteWxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NzEwOTEsImV4cCI6MjA5NjI0NzA5MX0.tH0c_za3Yqx8P3cNKo4Y2-Ik6oweu2-FjpmvtOcaqyE
